html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.428571429;
  color: #333333;
}

#org-chart-main {
  overflow: scroll;
}

.org-chart-scroll {
  position: absolute;
  height: 100%;
  padding-right: 2%;
  width: 100%;
  overflow: auto;
}

.orgchart td.left, .orgchart td.right, .orgchart td.top { border-color: #aaa; }
.orgchart td>.down { background-color: #aaa; }
.orgchart .middle-level .title {
  background-color: #FFF;
  border: 1px solid #006699;
  border-left: none;
}
.orgchart .middle-level .content {
  border-color: #006699;
  background-color: #006699;
}
.orgchart .middle-level .department {
  border-color: #006699;
  background-color: #000;
}

img.avatar.middle-level {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #006699;
    border-right: none;
}
.orgchart .product-dept .title {
  background-color: #FFF;
  border: 1px solid #009933;
  border-left: none;
}
.orgchart .product-dept .content {
  border-color: #009933;
  background-color: #009933;
}
.orgchart .product-dept .department {
  border-color: #009933;
  background-color: #000;
}
img.avatar.product-dept {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #009933;
    border-right: none;
}
.orgchart .rd-dept .title {
  background-color: #FFF;
  border: 1px solid #993366;
  border-left: none;
}
.orgchart .rd-dept .content {
  border-color: #993366;
  background-color: #993366;
}
.orgchart .rd-dept .department {
  border-color: #993366;
  background-color: #000;
}
img.avatar.rd-dept {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #993366;
    border-right: none;
}
.orgchart .pipeline1 .title {
  background-color: #FFF;
  border: 1px solid #996633;
  border-left: none;
}
.orgchart .pipeline1 .content {
  border-color: #996633;
  background-color: #996633;
}
.orgchart .pipeline1 .department {
  border-color: #996633;
  background-color: #000;
}
img.avatar.pipeline1 {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #996633;
    border-right: none;
}
.orgchart .frontend1 .title {
  background-color: #FFF;
  border: 1px solid #cc0066;
  border-left: none;
}
.orgchart .frontend1 .content {
  border-color: #cc0066;
  background-color: #cc0066;
}
.orgchart .frontend1 .department {
  border-color: #cc0066;
  background-color: #000;
}
img.avatar.frontend1 {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #cc0066;
    border-right: none;
}

.org_chart_id{
  display: none;
}

/* For Add Noeud Button */
.orgchart .second-menu-icon {
  transition: opacity .5s;
  opacity: 0;
  right: -5px;
  top: -5px;
  z-index: 2;
  color: rgba(68, 157, 68, 0.5);
  font-size: 18px;
  position: absolute;
}
.orgchart .second-menu-icon:hover { color: #449d44; }
/* .orgchart .node:hover .second-menu-icon { opacity: 1; } */
.orgchart .node .second-menu {
  opacity: 0;
  /* display: none; */
  position: absolute;
  top: 0;
  right: -30px;
  border-radius: 35px;
  box-shadow: 0 0 10px 1px #999;
  background-color: #fff;
  z-index: 1;
  margin-top: 5px;
}
.orgchart .node:hover .second-menu { opacity: 1; }
.orgchart .node .second-menu .avatar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  float: left;
  margin: 5px;
}

.avatar:hover {
  background-color: #000000;
}

/* Dialog Chart */
.dialog{
  border:5px solid #666;
  padding:10px;
  background:#3A3A3A;
  position:absolute;
  display:none;
}
.dialog label{
  display:inline-block;
  color:#cecece;
}


/* For Add Noeud Button */
.orgchart .third-menu-icon {
  transition: opacity .5s;
  opacity: 0;
  right: -5px;
  top: -5px;
  z-index: 2;
  color: rgba(68, 157, 68, 0.5);
  font-size: 18px;
  position: absolute;
}
.orgchart.l2r .third-menu-icon {
  transition: opacity .5s;
  opacity: 0;
  top: -5px;
  z-index: 2;
  color: rgba(68, 157, 68, 0.5);
  font-size: 18px;
  position: absolute;
  transform: rotate(-90deg);
}
.orgchart .third-menu-icon:hover { color: #449d44; }
.orgchart .node:hover .third-menu-icon { opacity: 1; }
.orgchart .node .third-menu {
  display: none;
  position: absolute;
  top: 0;
  right: -30px;
  border-radius: 35px;
  box-shadow: 0 0 10px 1px #999;
  background-color: #fff;
  z-index: 1;
  margin-top: 5px;
}
.orgchart .third-menu-icon:hover { color: #449d44; }
.orgchart .node:hover .third-menu-icon { opacity: 1; }
.orgchart .node .third-menu {
  display: none;
  position: absolute;
  top: 0;
  right: -30px;
  border-radius: 35px;
  box-shadow: 0 0 10px 1px #999;
  background-color: #fff;
  z-index: 1;
  margin-top: 5px;
}
.orgchart.l2r .third-menu-icon:hover { color: #449d44; }
.orgchart.l2r .node:hover .third-menu-icon { opacity: 1; }
.orgchart.l2r .node .third-menu {
  display: none;
  position: absolute;
  top: 0;
  right: -30px;
  border-radius: 35px;
  box-shadow: 0 0 10px 1px #999;
  background-color: #fff;
  z-index: 1;
  margin-top: 5px;
  transform: rotate(90deg);
}
.orgchart .node .third-menu .avatar {
  width: 20px;
  height: 20px;
  float: left;
  margin: 5px;
}
.orgchart.l2r .node .third-menu .avatar {
  width: 15px;
  height: 15px !important;
  float: left;
  margin: 4px;
  transform: rotate(-180deg);
}
img.avatar.company {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid rgba(217, 83, 79, 0.8);
    border-right: none;
    display: none;
}
.oe_manager > img {
  width: 100px;
  height: 100px;
  border-radius: 50px !important;
}
