 /*Dropdown Menu
-------------------------------------*/
@mixin as-dropdown {
	> .dropdown-menu {
		display: block !important;
		position: absolute;
		text-align: left;
		@include transition(all 0.55s ease);
		top: 110% !important;
		width: 100%;
		z-index: 1;
		visibility: hidden;
		left: auto;
		right: 0;
		opacity: 0;
		pointer-events: none;
		background: #fff;
		padding-top: 20px;
		padding-bottom: 20px;
		max-height: 65vh;
		overflow-y: auto;
		margin: 0;
		padding: 0;
		border-radius: 0;
		border: none;
		transform: none !important;
		box-shadow: 0px 16px 16px -8px rgba(0, 0, 0, 0.12);
		&.o_editable {
			top: 100% !important;
			@include transition(all 0s ease);
			display: none !important;
		}
	}
	@include h {
		> .dropdown-menu:not(.o_editable) {
			pointer-events: auto;
			visibility: visible;
			opacity: 1;
			top: 100% !important;
		}
	}
	&.show {
		> .o_mega_menu {
			&.o_editable {
				pointer-events: auto;
				visibility: visible;
				opacity: 1;
				top: 100% !important;
				display: block !important;
			}
		}
	}
	> .dropdown-menu {
		> li {
			> a {
			    font-size: 14px;
			    color: #666;
			    line-height: 22px;
			    display: inline-block;
			    vertical-align: top;
			    background: none;
			    position: relative;
			    font-weight: 400;
				padding: 10px 15px;
				margin: 0;
				&.active {
					color: $as-dark-color;
					text-decoration: none;
				}
			}
			&:hover,
			&.active {
				> a {
					color: $as-dark-color;
					text-decoration: none;
				}
			}
		}
		> a,
		> .dropdown-item {
			font-size: 14px;
		    color: #666;
		    line-height: 22px;
		    display: inline-block;
		    vertical-align: top;
		    background: none;
		    position: relative;
		    font-weight: 400;
			padding: 10px 15px;
			margin: 0;
			&.active,
			&:hover {
				color: $as-dark-color;
				text-decoration: none;
			}
		}
	}
}
/*End*/


/* Mobile Toggle Menu 
-------------------------------------*/
.mobile-toggle {
	margin-left: auto;
	order: 1;
	@include up-sm {
		display: none;
	}
	.mobile_toggle_menu {
	    width: 45px;
	    height: 45px;
	    background: none;
	    border: none;
	    position: relative;
	    vertical-align: top;
	    cursor: pointer;
	    margin-left: auto;
	    border-left: 1px solid rgba(255, 255, 255, 0.2);
	    @include up-sm {
			display: none;
		}
	    span {
	        position: absolute;
		    top: 0;
		    bottom: 0;
		    right: 0;
		    width: 22px;
		    height: 2px;
		    background: currentColor;
		    margin: auto;
		    box-shadow: 0 7px 0 0 currentColor, 0 -7px 0 0 currentColor;
		    left: 0;
		    color: $as-dark-color;
		    @include transition(cubic-bezier(0.4, 0, 1, 1) transform 0.55s);
		    &:after {
	    	    content: "";
			    width: 0;
			    height: 0;
			    background: currentColor;
			    position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    margin: auto;
			    bottom: 0;
		    }
	    }
	}
}
/*End*/


/* Master Login
-------------------------------------*/
#oe_main_menu_navbar {
	+ #wrapwrap {
		.o_affix_enabled {
			top: 46px !important;
		}
	}
}

@include down-sm {
	#oe_main_menu_navbar {
		+ #wrapwrap {
			&.o_header_overlay {
				.o_affix_enabled {
					top: 0 !important;
				}
			}
		}
	}
}
/*End*/


/* Top Bar
-------------------------------------*/
.top-header-bar {
	background: $as-white;
	color: rgba($as-dark-color, 0.78);
	border-bottom: 1px solid #eee;
	> .container {
		max-width: 100%;
	}
	@include down-sm {
		.container {
			padding-right: 0;
			padding-left: 0;
		}
	}
	.h-drop {
		border-left: 1px solid #eee;
		@include down-sm {
			border: none;
		}
		+ .h-drop {
			@include down-sm {
				border-left: 1px solid #eee;
			}
		}
		.dropdown-toggle {
			font-size: 12px;
			margin: 0;
			padding: 0 12px;
			line-height: 35px;
			color: $as-dark-color;
			text-transform: uppercase;
			cursor: pointer;
		}
		.dropdown-menu {
			display: none !important;
		    border: none;
		    border-radius: 0;
		    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.11);
	        margin: 0;
			padding: 0;
		    li {
		    	&:not(:first-child) {
		    		border-top: 1px solid #eee;
		    	}
		    	a {
		    		color: $as-dark-color;
	    		    text-transform: uppercase;
				    font-size: 13px;
				    padding: 10px;
				    display: block;
				    white-space: nowrap;
				    &.active,
		    		&:hover {
		    			color: $as-theme;
		    		}
		    	}
		    }
		}
		&:hover {
			.dropdown-menu {
				display: block !important;
			}
		}
	}
	.h-col {
		position: relative;
		border-right: 1px solid #eee;
		.hc-icon {
			width: 45px;
		    height: 35px;
		    line-height: 35px;
		    display: block;
		    text-align: center;
		    font-size: 18px;
			color: $as-dark-color;
			cursor: pointer;
			@include transition(ease all 0.35s);
			@include down-sm {
				width: 45px;
			    height: 45px;
			    line-height: 45px;
			}
		}
		sup {
			pointer-events: none;
	        position: absolute;
		    top: 0;
		    right: 0;
		    font-weight: 400;
		    font-size: 11px;
		    min-width: 20px;
		    min-height: 20px;
		    line-height: 20px;
		    padding: 0;
		    border-radius: 50%;
		    z-index: 1;
		    text-align: center;
		    background: $as-theme;
		    color: $as-white;
		    @include transition(ease all 0.35s);
		}
		&:hover {
			.hc-icon {
				border-color: $as-theme;
				background: $as-theme;
				color: $as-white;
			}
			sup {
				background: $as-white;
				color: $as-theme;
			}
		}
	}
	.h-search {
		.hc-icon {
		}
		.as-search {
		    position: fixed;
		    top: -450px;
		    left: 0;
		    right: 0;
		    background: #fff;
		    z-index: 111;
		    padding: 50px 20px;
		    @include transition(ease all 0.35s);
		}
		&.hm-search-open {
			.as-search {
				top: 0;
				#oe_main_menu_navbar + #wrapwrap & {
					top: 45px;
				}
			}
		}
		.input-group {
		    border: 1px solid #ddd;
		    border-radius: 5px;
		    width: 1200px;
		    max-width: 100%;
		    background: $as-white;
		    margin: 0 auto;
		}
		.form-control {
		    border: none;
		    height: 40px;
		    border-radius: 30px;
		    padding-left: 20px;
		}
		.btn {
			border: none;
			box-shadow: none;
			background: none;
			color: $as-dark-color;
		}
	}

	@include down-sm {
		.ht-left,
		.ht-right {
			max-width: 100%;
			flex: 0 0 100%;
		}
		.ht-left {
			justify-content: center;
			border-bottom: 1px solid #eee;
		}
	}
}

/*End*/

/* Navbar
-------------------------------------*/
header {
	.navbar {
		> .container {
			max-width: 100%;
		}
	}
	@include up-sm {
		.navbar {
			padding: 0;
			background: $as-white !important;
			.navbar-nav {
				> li {
					&.o_wsale_my_cart,
					&.o_wsale_my_wish,
					&.divider {
						display: none !important;
					}

					@include as-dropdown;

					> a,
					> .nav-link {
						color: $as-dark-color !important;
					    font-size: 14px;
					    font-weight: 500;
					    padding: 0 13px;
					    line-height: 70px;
					    display: block;
					    position: relative;
					    background: none !important;
					    b,
					    strong {
					    	font-weight: 600;
					    }
					    
					    &.active {
					    	color: $as-theme !important;
					    }
					}
					&.active,
					&:hover {
						> a,
						> .nav-link {
							color: $as-theme !important;
						}
					}
					&.show {
						> a {
							background: none !important;
						}
					}
				}
			}
		}
	}

	@include down-sm {
		.navbar {
			background: $as-white !important;
			padding-top: 10px;
			padding-bottom: 10px;
			.navbar-brand {
				margin: 0 auto;
			}
		}
	}
}
/*End*/



/* Fixed Header
-------------------------------------*/
header {
	&.o_affix_enabled {
	    position: fixed !important;
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: 25;
	    @include transition(ease all 0.55s);
	    border: none;
	    background: $as-white;
	    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	    .fixed-header & {
	    	margin-top: -36px;
	    }
	}
	&.o_header_affix {
	    position: relative !important;
	    margin: 0 !important;
	    top: 0 !important;
	    opacity: 0;
	    z-index: -1 !important;
	    pointer-events: none;
	}
}
/*End*/


/* Edit Mode
-------------------------------------*/
.editor_enable {
	#oe_main_menu_navbar + #wrapwrap .o_affix_enabled {
		top: auto !important;
	}
	header {
		&.o_affix_enabled {
			position: relative !important;
			&:not(:hover) {
				background: #b9b9b9;
			}
		}
	}
}
/*End