/**
 * @author Rahul Malve <rahul.malve@bistasolutions.com>
 */
.o_AttachmentCard{
    .o_AttachmentCard_details{
        .o_AttachmentCard_description{
            width: 180px;
            max-height: 40px;
            min-height: 20px;
            font-weight: bold;
            word-wrap: anywhere;
        }
    }
    .o_AttachmentCard_asideItemComment {
        cursor: pointer;

        &:hover {
            background-color: gray('400');

        }
    }
}