<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <record model="ir.actions.act_window" id="exercise_action">
            <field name="name">Body Parts</field>
            <field name="res_model">exercise.select</field>
            <field name="view_mode">tree,form</field>
        </record>


        <record model="ir.actions.act_window" id="bmi_action">
            <field name="name">Your Bmi</field>
            <field name="res_model">gym.bim</field>
            <field name="view_mode">form</field>
            <field name="target">new</field>
        </record>

        <record model="ir.actions.act_window" id="calorie_action">
            <field name="name">Your Calorie</field>
            <field name="res_model">gym.calorie</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record model="ir.actions.act_window" id="exercise_selection_action">
            <field name="name">Exercise</field>
            <field name="res_model">exercise.category.select</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record model="ir.actions.act_window" id="exercise_category_action">
            <field name="name">Exercise Category</field>
            <field name="res_model">exercise.category</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record model="ir.actions.act_window" id="equipment_action">
            <field name="name">Equipments</field>
            <field name="res_model">product.product</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record model="ir.actions.act_window" id="gym_workout_view_action">
            <field name="name">Workout</field>
            <field name="res_model">gym.workouts</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record model="ir.actions.act_window" id="ingredients_action">
            <field name="name">Your Ingredient</field>
            <field name="res_model">gym.ingredient</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record model="ir.actions.act_window" id="muscle_action">
            <field name="name">Muscles</field>
            <field name="res_model">gym.muscle</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record model="ir.actions.act_window" id="nutrition_action">
            <field name="name">Your Nutrition</field>
            <field name="res_model">gym.nutrition</field>
            <field name="view_mode">tree,form,calendar</field>
        </record>
        <record model="ir.actions.act_window" id="weight_entry_action">
            <field name="name">Your Weight Entry</field>
            <field name="res_model">weight.entry</field>

            <field name="view_mode">tree,form</field>
        </record>

        <!--record model="ir.actions.act_window" id="workout_schedule_report_action">
            <field name="name">Workout Schedule Report</field>
            <field name="res_model">workout.schedule.report</field>
            <field name="view_mode">form</field>
            <field name="target">new</field>
        </record-->

        <!--act_window id="workout_new_schedule_report_id"
                    multi="True"
                    key2="client_action_multi" name="new excercise"
                    res_model="workout.schedule.report" src_model="gym.workout"
                    view_mode="form" target="new"  /-->

        <record model="ir.actions.act_window" id="workout_overview_action">
            <field name="name">Workout add</field>
            <field name="res_model">gym.workout</field>

            <field name="view_mode">tree,form,calendar</field>
        </record>

        <menuitem id="gym_id" name="Gym"/>
        <menuitem id="configuration_menu_id" name="Configuration" parent="gym_id" action="base.action_partner_form" sequence="2"/>
        <menuitem id="exercise_menu_id" name="Exercise" parent="configuration_menu_id"/>
        <menuitem id="print_report_menu" name="Reports" parent="gym_id" sequence="10" groups = "gym_officer,gym_manager,gym_trainer"/>
        <!--menuitem id="print_workout_schedule_report_menu" name="Print Workout Schedule" parent="print_report_menu" action="workout_schedule_report_action" sequence="1" /-->

        <menuitem id="weight_id" name="Weight" parent="gym_id"/>
        <menuitem id="weight_entry_id" name="Weight Entry Overview" parent="weight_id" action="weight_entry_action" />

        <menuitem id="nutrition_menu_id" name="Nutrition" parent="gym_id"/>
        <menuitem id="gym_nutrition_menu_id" name="Nutrition Plans" parent="nutrition_menu_id" action="nutrition_action"/>

        <menuitem id="muscle_exercise_id" name="Muscles" parent="exercise_menu_id" action="muscle_action" sequence="3" groups = "gym_officer,gym_manager"/>


        <menuitem id="ingredient_menu_id" name="Ingredients" parent="configuration_menu_id" action="ingredients_action" groups = "gym_officer,gym_manager,gym_trainer"/>


        <menuitem id="work_out_id" name="Workout" parent="gym_id" sequence="3"/>
        <menuitem id="workouts_d_id" name="Workouts" parent="work_out_id" action="gym_workout_view_action" sequence="1" groups = "gym_officer,gym_manager,gym_trainer"/>

        <menuitem id="workout_overview_id" name="Workouts Schedules" parent="work_out_id" action="workout_overview_action" sequence="3" groups = "gym_officer,gym_manager,gym_trainer"/>

        <menuitem id="equipment_show_id" name="Equipments" parent="configuration_menu_id" action="equipment_action"/>


        <menuitem id="customer_id" name="Customer" parent="gym_id" sequence = "1"/>
        <menuitem id="customer_menu_id" name="Customer" parent="customer_id" action="base.action_partner_form" groups="gym_officer,gym_trainer"/>
        <menuitem id="exercise_category_id" name="Exercise Overview" parent="exercise_menu_id" action="exercise_category_action" sequence="4"/>

        <menuitem id="exercise_select_id" name="Exercises" parent="exercise_menu_id" action="exercise_selection_action" sequence="2" groups = "gym_officer,gym_manager"/>
        <menuitem id="daily_nutrition_id" name="Daily Calories Calculator" parent="nutrition_menu_id" action="calorie_action"/>
        <menuitem id="bmi_nutrition_id" name="BMI Calculation" parent="nutrition_menu_id" action="bmi_action"/>

        <menuitem id="Body_parts_id" name="Body Parts" parent="exercise_menu_id" action="exercise_action" sequence="1"
                  groups="gym_officer,gym_manager"/>
    </data>
</odoo>